.link {
  font-size: var(--font-size-normal);
  color: white;
  margin-right: 35px;
  white-space: nowrap;
  cursor: pointer;
}

.container {
  list-style-type: none;
}

@media screen and (max-width: 610px) {
  .container {
    margin-right: 50px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 490px) {
  .container {
    margin-right: 5%;
  }
}
